/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "reset.scss";
@import "mixin.scss";

//UI definition
//color
$bg_main: #f4f9ff;
$bg_sup: #edf4ff;
$color_main: #3e8ef0;
$color_sup: #0068d6;
$color_add: #54a7ff;
$colortxt_main: #323232;
$colortxt_sup: #666666;
$color_ignore: #9b9a9a;
$color_alert: #f09e3e;
$color_tip: #4a4a4a;
$color_red: #f68622;
$color_green: #26bd7b;

//main-border-radius
//@include css3(border-radius,$radius);
$radius: 5px;

//main-shadow
$shadow: 0px 0px 14px #ffffff;
@mixin shadow($shadow:$shadow){
    @include css3(box-shadow,$shadow);
}


//font
*{
    font: normal 14px/20px "Microsoft Yahei";
}
@mixin bigtitle(){
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 5px;
}
@mixin midtitle(){
    font-size: 16px;
    line-height: 25px;
}
@mixin txt(){
    font-size: 14px;
}
@mixin txts(){
    font-size: 12px;
}

//btn style
@mixin btn_style_face($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    color: #fff;
    background: $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    padding: 0 5px;
    @include txt();
    @include css3(border-radius,$radius);
}
@mixin btn_style_line($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    border: 1px solid $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    @include css3(transition,all .2s ease);
    @include css3(border-radius,$radius);
    &:hover{
        background: $color;
        color: #fff;
        i{
            color: #fff;
        }
    }
}

//hover active style
@mixin hover_light(){
    position: relative;
    &:after{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        background: rgba(255, 255, 255,0);
        @include css3(transition,all .2s ease);
    }
    &:hover{
        //background: #59a4ff!important;
        &:after{
            background: rgba(255, 255, 255,.25);
        }
    }
}


//table style
@mixin table_style(){
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
        width: 100%;
        tr{
            &:first-child{
                @include midtitle();
                background: $color_main!important;
                color: #fff;
            }
            &:nth-child(odd) {
                background-color: rgba(190, 190, 190, 0.2);
            }
            span{
                @include txts();
                font-size: 23px;
            }
            td{
                text-align: center;
                padding: 5px;
            }
        }
    }
}

/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}
@include ellipsistext();
@include linear-gradient($top, $bottom);

.btn_face{
    @include btn_style_face($color_main ,65px ,30px,$radius);
    @include hover_light();
}
.btn_line{
    @include btn_style_line($color_main ,65px ,30px,$radius);
}
.tablebox{
    @include table_style();
}


@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}

*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/
body{
    background: #222a3f;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
//select style
select{
    @include shadow();
    border: 0px;
    line-height: 30px;
    height: 30px;
    padding: 0 7px;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    //background: #fff url("../images/select_arrow.png") no-repeat scroll right 5px center;
    padding-right: 20px;
    cursor: pointer;
    min-width: 80px;
}
//input style
input{
    border: 1px solid $color_main;
    background: rgba(0, 0, 0, 0);
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    @include css3(transition,all .2s ease);
    width: 145px;
}

.wrapper{
    width:100%;
    height:auto;
    margin:0 auto;
    //min-width: 1000px;
}
.wrapper_in{
    width: 100%;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: initial!important;
}
.topbanner{
    background: url(../images/topbanner.jpg);
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    img{
        width: 100%;
    }
    @include range-width-in(0,768px){
        height: auto!important;
        .fp-tableCell{
            height: auto!important;
        }
    }
}
img{
    vertical-align: middle;
}
.vhbox{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    min-height: 100vh;
    text-align: center;
}
.turnbannerbox{
    max-width: 1070px;
    //width: 70%;
    width: 100%;
    margin: 0 auto 60px auto;
    img{
        width: 100%;
    }
    @include range-width-in(0,1280px){
        width: 70%;
    }
    @media screen and (min-height: 0px) and (max-height:900px) {
        width: 70%;
    }
}
.turnbannerboxs{
    img{
        width: 100%;
    }
}
.downloadbtn{
    text-align: center;
    padding: 0 20%;
    margin-bottom: 50px;
    img{
        @include css3(transition,all .3s ease);
        max-width: 370px;
        width: 100%;
        opacity: 0;
    }
    &:hover{
        img{
            opacity: 1;
        }
    }
}
.downloadbtnbg{
    background: url(../images/btn_hover.png) center no-repeat;
    background-size: contain;
    display: inline-block;
}
.part{
    margin-top: 10px;
    margin-bottom: 20px;
}
.turnbannertxt{
    color:#fff;
    font-family: "Microsoft Yahei";
    font-size: 20px;
    line-height: 25px;
    padding: 15px 10px;
    text-align: center;
    @include range-width-in(0,767px){
        font-size: 14px;
    }
}
@include range-width-in(0,767px){
    .mb_show{
        display: block;
    }
    .pc_show{
        display: none;
    }
}
@include range-width-in(768px){
    .mb_show{
        display: none;
    }
    .pc_show{
        display: block;
    }
}