/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "reset.scss";
@import "mixin.scss";

//UI definition
//color
$bg_main: #f4f9ff;
$bg_sup: #edf4ff;
$color_main: #3e8ef0;
$color_sup: #0068d6;
$color_add: #54a7ff;
$colortxt_main: #323232;
$colortxt_sup: #666666;
$color_ignore: #9b9a9a;
$color_alert: #f09e3e;
$color_tip: #4a4a4a;
$color_red: #f68622;
$color_green: #26bd7b;

//main-border-radius
//@include css3(border-radius,$radius);
$radius: 5px;

//main-shadow
$shadow: 0px 0px 14px #ffffff;
@mixin shadow($shadow:$shadow){
    @include css3(box-shadow,$shadow);
}


//font
body{
    font: normal 14px/20px "Microsoft Yahei";
}
@mixin bigtitle(){
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 5px;
}
@mixin midtitle(){
    font-size: 16px;
    line-height: 25px;
}
@mixin txt(){
    font-size: 14px;
}
@mixin txts(){
    font-size: 12px;
}

//btn style
@mixin btn_style_face($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    color: #fff;
    background: $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    padding: 0 5px;
    @include txt();
    @include css3(border-radius,$radius);
}
@mixin btn_style_line($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    border: 1px solid $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    @include css3(transition,all .2s ease);
    @include css3(border-radius,$radius);
    &:hover{
        background: $color;
        color: #fff;
        i{
            color: #fff;
        }
    }
}

//hover active style
@mixin hover_light(){
    position: relative;
    &:after{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        background: rgba(255, 255, 255,0);
        @include css3(transition,all .2s ease);
    }
    &:hover{
        //background: #59a4ff!important;
        &:after{
            background: rgba(255, 255, 255,.25);
        }
    }
}


//table style
@mixin table_style(){
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
        width: 100%;
        tr{
            &:first-child{
                @include midtitle();
                background: $color_main!important;
                color: #fff;
            }
            &:nth-child(odd) {
                background-color: rgba(190, 190, 190, 0.2);
            }
            span{
                @include txts();
                font-size: 23px;
            }
            td{
                text-align: center;
                padding: 5px;
            }
        }
    }
}

//boxalign
@mixin boxalign(){
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
.rowbox{
    @include boxalign();
}

/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}
@include ellipsistext();
@include linear-gradient($top, $bottom);

.btn_face{
    @include btn_style_face($color_main ,65px ,30px,$radius);
    @include hover_light();
}
.btn_line{
    @include btn_style_line($color_main ,65px ,30px,$radius);
}
.tablebox{
    @include table_style();
}


@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}

*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/
body{
    background: #fff;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}
//select style
select{
    @include shadow();
    border: 0px;
    line-height: 30px;
    height: 30px;
    padding: 0 7px;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    //background: #fff url("../images/select_arrow.png") no-repeat scroll right 5px center;
    padding-right: 20px;
    cursor: pointer;
    min-width: 80px;
}
//input style
input{
    border: 1px solid $color_main;
    background: rgba(0, 0, 0, 0);
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    @include css3(transition,all .2s ease);
    width: 145px;
}

.wrapper{
    width:100%;
    height:auto;
    margin:0 auto;
}
.wrapper_in{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.gridbox li{
    height: 100px;
    @include grid( 5, 5%);
    background: #000;
    img{
        width: 100%;
    }
}
.mb_show{
    @include range-width-in(768px){
        display: none!important;
    }
}
.pc_show{
    @include range-width-in(0,767px){
        display: none!important;
    }
}
.topbanner{
    background: url(../images/topbanner.jpg) center center no-repeat;
    min-height: 1080px;
    @include range-width-in(0,750px){
        min-height: 550px;
        background: url(../images/topbanner_mb.jpg) top center;
        background-size: cover;
    }
    position: relative;
    .title_effect{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        background: url("../images/gold.gif") top center;
        background-size: cover;
    }
}
.sectitle{
    text-align: center;
    img{
        width: 100%;
        max-width: 435px;
    }
}
.sec_intro{
    background: url(../images/bg_02.jpg) center center no-repeat;
    min-height: 1080px;
    @include range-width-in(0,750px){
        min-height: 760px;
        background: url(../images/bg_02_mb.jpg) top center;
    }
    @include range-width-in(0,768px){
        .wrapper_in{
            padding: 5%;
        }
    }
    .iphone_pic{
        width: 405px;
        position: relative;
        left: -5%;
        .iphone_in{
            position: absolute;
            top: 13%;
            left: calc(10% + 1px);
        }
    }
    .content{
        flex-grow: 1;
        max-width: 600px;
        //padding-left: 60px;
        position: relative;
        &:after,&:before{
            position: absolute;
            content: url(../images/border.png);
            left: -6%;
            @include range-width-in(0,767px){
                content: '';
            }
        }
        &:after{
            top:-10%;
            
        }
        &:before{
            bottom:-10%;
            @include css3(transform,scaley(-1));
        }
        .stitle{
            color:#efe091;
            font-size: 24px;
            line-height: 40px;
        }
        .list{
            padding-top: 10px;
            li{
                font-size: 16px;
                color:#202020;
                line-height: 25px;
                position: relative;
                padding-left: 50px;
                margin-top: 40px;
                &:after{
                    position: absolute;
                    content: url(../images/cursor.png);
                    top:0;
                    left: 0;
                }
                .txt{
                    font-size: 22px;
                    color:#fff;
                    line-height: 35px;
                }
            }
        }
    }
}

.sec_spcal{
    background: url(../images/bg_03.jpg) center center no-repeat;
    min-height: 1080px;
    @include range-width-in(0,750px){
        min-height: 590px;
        background: url(../images/bg_03_mb.jpg) top center;
    }
    .wrapper_in{
        max-width: 1280px;
    }
    .slick-track{
        //width: 100%!important;
    }
    .slick-list{
        //overflow: inherit;
    }
    .productlist{
        .product_box{
            background: #fff;
            width: 22%;
            margin: 5% 15px;
            padding: 10px;
            min-height: 400px;
            @include css3(box-shadow,4px 4px 16px rgba(83, 70, 67, 0.5));
            position: relative;
            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                top:0;
                left: 0;
                border: 10px solid #efa044;
                opacity: 0;
                @include css3(transition,all .2s ease);
            }
            &:hover{
                &:after{
                    border: 1px solid #efa044;
                    opacity: 1;
                }
            }
            .product_pic{
                img{
                    width: 100%;
                }
            }
            .product_content{
                text-align: center;
                line-height: 25px;
                .stitle{
                    font-size: 24px;
                    color:#ddc884;
                    margin-top: 15px;
                    line-height: 40px;
                }
                .txt{
                    color:#787878;
                    font-size: 16px;
                    margin-top: 5px;
                }
            }
        }
        @include range-width-in(768px){
            @include boxalign();
        }
        @include range-width-in(0,767px){
            width: 80%;
            margin: 0 auto;
            .slick-slide{
                margin: 10px 15px;
                padding: 0px;
                width: 80%;
            }
            .product_box{
                margin: -10px;
                padding: 10px;
            }
            .slick-arrow{
                    height: 68px;
                    width: 39px;
                    top:calc(50% - 34px);
                    z-index: 1;
                &:before{
                    //content:url(../images/btn_left.png);
                    content: "";
                    background: url(../images/btn_left.png);
                    width: 50%;
                    height: 100%;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }.slick-next{
                @include css3(transform,scalex(-1));
                top: calc(50% - 68px);
            }
        }
    }
    .downloadbtn{
        margin-top: 80px;
        text-align: center;
        cursor: pointer;
        width: 100%;
        max-width: 340px;
        margin: 80px auto 20px auto;
        position: relative;
        @include range-width-in(0,767px){
            margin-top: 20px;
        }
        &:after{
            content: "";
            position: absolute;
            background: url(../images/btn_hover.png);
            background-size: contain;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            @include css3(transition,all .2s ease);
        }
        &:hover{
            &:after{
                opacity: 1;
            }
        } 
        img{
            width: 100%;
            max-width: 340px;
        }
    }
}
img{
    vertical-align: middle;
}