/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "reset.scss";
@import "mixin.scss";

//UI definition
//color
$bg_main: #f4f9ff;
$bg_sup: #edf4ff;
$color_main: #3e8ef0;
$color_sup: #0068d6;
$color_add: #54a7ff;
$colortxt_main: #323232;
$colortxt_sup: #666666;
$color_ignore: #9b9a9a;
$color_alert: #f09e3e;
$color_tip: #4a4a4a;
$color_red: #f68622;
$color_green: #26bd7b;

//main-border-radius
//@include css3(border-radius,$radius);
$radius: 5px;

//main-shadow
$shadow: 0px 0px 14px #ffffff;
@mixin shadow($shadow:$shadow){
    @include css3(box-shadow,$shadow);
}


//font
/*
*{
    font: normal 14px/20px "Microsoft Yahei";
}*/
@mixin bigtitle(){
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 5px;
}
@mixin midtitle(){
    font-size: 16px;
    line-height: 25px;
}
@mixin txt(){
    font-size: 14px;
}
@mixin txts(){
    font-size: 12px;
}

//btn style
@mixin btn_style_face($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    color: #fff;
    background: $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    padding: 0 5px;
    @include txt();
    @include css3(border-radius,$radius);
}
@mixin btn_style_line($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    border: 1px solid $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    @include css3(transition,all .2s ease);
    @include css3(border-radius,$radius);
    &:hover{
        background: $color;
        color: #fff;
        i{
            color: #fff;
        }
    }
}

//hover active style
@mixin hover_light(){
    position: relative;
    &:after{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        background: rgba(255, 255, 255,0);
        @include css3(transition,all .2s ease);
    }
    &:hover{
        //background: #59a4ff!important;
        &:after{
            background: rgba(255, 255, 255,.25);
        }
    }
}


//table style
@mixin table_style(){
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
        width: 100%;
        tr{
            &:first-child{
                @include midtitle();
                background: $color_main!important;
                color: #fff;
            }
            &:nth-child(odd) {
                background-color: rgba(190, 190, 190, 0.2);
            }
            span{
                @include txts();
                font-size: 23px;
            }
            td{
                text-align: center;
                padding: 5px;
            }
        }
    }
}

//boxalign
@mixin boxalign(){
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}
@include ellipsistext();
@include linear-gradient($top, $bottom);

.btn_face{
    @include btn_style_face($color_main ,65px ,30px,$radius);
    @include hover_light();
}
.btn_line{
    @include btn_style_line($color_main ,65px ,30px,$radius);
}
.tablebox{
    @include table_style();
}


@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}

*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/

//select style
select{
    @include shadow();
    border: 0px;
    line-height: 30px;
    height: 30px;
    padding: 0 7px;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    //background: #fff url("../images/select_arrow.png") no-repeat scroll right 5px center;
    padding-right: 20px;
    cursor: pointer;
    min-width: 80px;
}
//input style
input{
    border: 1px solid $color_main;
    background: rgba(0, 0, 0, 0);
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    @include css3(transition,all .2s ease);
    width: 145px;
}

.wrapper{
    width:100%;
    height:auto;
    margin:0 auto;
}
.wrapper_in{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 5%;
    line-height: 40px;
    @include range-width-in(0,767px){
        padding: 0 5%;
        padding-bottom: 15%;
    }
}
body{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.title{
    font-size: 48px;
    font-size: 5vmin;
    line-height: 60px;
    line-height: 6vmin;
    color:#fff;
    text-align: center;
    letter-spacing: 10px;
    letter-spacing: 1vmin;
    font-weight: 900;
    @include range-width-in(0,767px){
        font-size: 40px;
        font-size: 10vmin;
        line-height: 50px;
        line-height: 12vmin;
        letter-spacing: 3px;
        letter-spacing: 0.5vmin;
    }
}
.stitle{
    color:#fff;
    font-size: 20px;
    font-size: 2vmin;
    line-height: 25px;
    line-height: 2.5vmin;
    letter-spacing: 5px;
    letter-spacing: 0.5vmin;
    @include range-width-in(0,767px){
        font-size: 25px;
        font-size: 5vmin;
        line-height: 30px;
        line-height: 8vmin;
        letter-spacing: 1px;
        letter-spacing: 0.2vmin;
    }
}
.txt{
    color:#fff;
    font-size: 18px;
    font-size: 2vmin;
    line-height: 25px;
    line-height: 2.5vmin;
    @include range-width-in(0,767px){
        font-size: 18px;
        font-size: 4vmin;
        line-height: 25px;
        line-height: 6.5vmin;
    }
}
.rowbox{
    @include boxalign();
}
.img{
    text-align: center;
    img{
        max-width:100%;
    }
}
section{
    min-height: 100vh;
    @include boxalign();
    text-align: center;
    color:#fff;
}
#topbanner{
    background: url(../images/bg_top.jpg) no-repeat top center;
    background-size: cover;
    overflow: hidden;
    min-height: auto!important;
    height: 100vh;
    position: relative;
    .slogan{
        margin-bottom: 50px;
        position: relative;
        z-index: 10;
        &:after{
            position: absolute;
            background: url(../images/toptitle_move.png) top center no-repeat;
            background-size: contain;
            content: "";
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            opacity: 0;
            @include css3(animation,opacitylight 1.5s 2s linear);
            @include keyframes(opacitylight) {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }
        @include range-width-in(0,767px){
            margin-bottom: 0;
            img{
                width: 100%;
                
            }
        }
    }
    video{
        display : block ;
        position: absolute;
        top: 0;
        left: 0;
        min-width : 100% ;
        min-height : 100% ;
        @include range-width-in(0,767px){
            display: none;
            visibility:hidden;
        }
    }
}
.cardbox{
    width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    @include boxalign();
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    @include range-width-in(0,767px){
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card{
        display: block;
        max-width: 360px;
        margin: 0 10px;
        position: relative;
        @include css3(transition,all .2s ease);
        border: 2px solid transparent;
        cursor: pointer;
        @include range-width-in(0,767px){
            margin: 5% 10px;
        }
        &:hover{
            @include css3(box-shadow,0px 0px 12px rgba(20,200,255,.5));
            border: 2px solid #12c4ff;
        }
        img{
            width: 100%;
            vertical-align: middle;
        }
        .cardtxt{
            position: absolute;
            background: rgba(0, 0, 0, .8);
            width: 100%;
            bottom: 0;
            font-size: 28px;
            line-height: 80px;
            font-weight: 100;
        }
    }
}
#product_intro{
    background: url(../images/bg_01.jpg) no-repeat top center;
    background-size: cover;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    .title{
        @include boxalign();
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 100%;
        .topline{
            flex-grow: 1;
            border-top:  2px solid #f7db1f;
        }
    }
    .txtbox{
        max-width: 1100px;
        background: rgba(0,0,0,.7);
        @include css3(box-shadow,10px 10px 0px rgba(0,0,0,.1));
        @include css3(border-radius,20px);
        margin: 5% auto;
        padding: 4%;
        font-size: 24px;
        line-height: 40px;
        text-align: left;
        span{
            color:#ffcf3f;
            font-size: 28px;
        }
        .list{
            @include boxalign();
            margin: 20px 0;
            @include css3(transition,all .3s ease);
            cursor: pointer;
            &:hover{
                color: #ffcf3f;
                .list-icon{
                    @include css3(animation,jump .3s ease-in);
                    @include keyframes(jump) {
                        0% {top:0;
                        }50% {top:-20px;
                        }100% {top:0;
                        }
                    }
                }
            }
            .list-txt{
                margin-left: 15px;
            }
            .list-icon{
                @include css3(transition,all .3s ease);
                position: relative;
                
            }
        }
        @include range-width-in(0,767px){
            .list{
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }
        }
    }
}
#product_sp{
    background: url(../images/bg_02.jpg) no-repeat top center;
    background-size: cover;
    font-size: 24px;
    .title{
        margin: 5% 0;
    }
    .download{
        margin-bottom: 5%;
    }
}
.totop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: #323232;
    color: #fff;
    cursor: pointer;
    z-index: 99;
    //@include css3(transition,all .3s ease);
    @include css3(border-radius,50%);
    &:hover{
        background: #494949;
    }
}
.mb_show{
    @include range-width-in(768px){
        display: none!important;
    }
}
.pc_show{
    @include range-width-in(0,767px){
        display: none!important;
    }
}
a.scroll{
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    @include css3(transform, translate(-50%, -50%));
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: opacity 0.3s;
    span.arrow{
        @include css3(transition, all 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67));
        @include css3(transform, rotate(-45deg));
        position: absolute;
        top: 20px;
        left: 50%;
        border-left: 4px solid #fff;
        border-bottom: 4px solid #fff;
        border-radius: 4px;
        margin-left: -15px;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        @include css3(animation,moveopacitylight 1s infinite linear);
        @include keyframes(moveopacitylight) {
            0% {
                top: 10px;
                opacity: 0;
            }
            80% {
                opacity: 1;
            }
            100% {
                top: 30px;
                opacity: 0;
            }
        }
    }
}