@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*zindex*/
/*linear-gradient*/
/*specify*/
/*keyframes*/
/*Responsive*/
/*radius*/
/*boxshadow*/
/*POS*/
/*clearfix*/
/*changebg*/
/*gridbox*/
@media only screen and (min-width: 1025px) {
  /* line 11, ../sass/screen - 複製.scss */
  .mb_show {
    display: none;
  }

  /* line 14, ../sass/screen - 複製.scss */
  .wrapper {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    font-family: Microsoft JhengHei;
  }
  /* line 19, ../sass/screen - 複製.scss */
  .wrapper .zone01 {
    width: 100%;
    min-width: 1350px;
    height: 1259px;
    background: url(../img/zonebg_01_pc.jpg) center no-repeat;
  }
  /* line 24, ../sass/screen - 複製.scss */
  .wrapper .zone01 .logo_h5 {
    display: none;
  }
  /* line 27, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center {
    position: relative;
    width: 75%;
    min-width: 1350px;
    height: 1259px;
    margin: 0 auto;
  }
  /* line 34, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center img {
    display: none;
  }
  /* line 37, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .mainlogo {
    position: relative;
    margin: 0 auto;
    top: 13px;
    left: 2px;
    width: 1029px;
    height: 319px;
    background: url(../img/main_slogan_pc.png) center no-repeat;
    overflow: hidden;
  }
  /* line 47, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .mainlogo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: linear-gradient(-30deg, rgba(255, 255, 255, 0) 10%, white 50%, rgba(255, 255, 255, 0) 90%);
    background: -moz-linear-gradient(-30deg, rgba(255, 255, 255, 0) 10%, white 50%, rgba(255, 255, 255, 0) 90%);
    background: -webkit-linear-gradient(-30deg, rgba(255, 255, 255, 0) 10%, white 50%, rgba(255, 255, 255, 0) 90%);
    background: -ms-linear-gradient(-30deg, rgba(255, 255, 255, 0) 10%, white 50%, rgba(255, 255, 255, 0) 90%);
    background: -o-linear-gradient(-30deg, rgba(255, 255, 255, 0) 10%, white 50%, rgba(255, 255, 255, 0) 90%);
    -webkit-animation: linerun 3.5s infinite;
    -moz-animation: linerun 3.5s infinite;
    -ms-animation: linerun 3.5s infinite;
    -o-animation: linerun 3.5s infinite;
    animation: linerun 3.5s infinite;
  }
  /* line 61, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .mainlogo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1029px;
    height: 319px;
    background: url(../img/main_slogan_bg.png) center no-repeat;
    z-index: 1;
  }
  /* line 72, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .man_left {
    position: absolute;
    top: 207px;
    width: 484px;
    height: 746px;
    left: 16%;
    background: url(../img/man_2_pc.png) center no-repeat;
    -webkit-animation: ani_1 4.5s;
    -moz-animation: ani_1 4.5s;
    -ms-animation: ani_1 4.5s;
    -o-animation: ani_1 4.5s;
    animation: ani_1 4.5s;
    z-index: 2;
  }
  /* line 82, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .man_left_blur {
    position: absolute;
    top: 207px;
    width: 484px;
    height: 746px;
    left: 16%;
    background: url(../img/man_2_pc_blur.png) center no-repeat;
    animation: ani_1_blur 4.5s infinite;
    z-index: 2;
  }
  /* line 92, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .man_right {
    position: absolute;
    top: 159px;
    width: 534px;
    height: 844px;
    right: 25%;
    background: url(../img/man_1_pc.png) center no-repeat;
    -webkit-animation: ani_2 4.5s;
    -moz-animation: ani_2 4.5s;
    -ms-animation: ani_2 4.5s;
    -o-animation: ani_2 4.5s;
    animation: ani_2 4.5s;
    z-index: 2;
  }
  /* line 101, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .man_right .soccor {
    position: absolute;
    top: 590px;
    left: 165px;
    width: 109px;
    height: 108px;
    background: url(../img/soccor.png) center no-repeat;
    -webkit-animation: ani_soccor 0.8s linear infinite;
    -moz-animation: ani_soccor 0.8s linear infinite;
    -ms-animation: ani_soccor 0.8s linear infinite;
    -o-animation: ani_soccor 0.8s linear infinite;
    animation: ani_soccor 0.8s linear infinite;
  }
  /* line 111, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .man_right_blur {
    position: absolute;
    top: 159px;
    width: 534px;
    height: 844px;
    right: 27%;
    background: url(../img/man_1_pc_blur.png) center no-repeat;
    animation: ani_2_blur 4.5s infinite;
    z-index: 2;
  }
  /* line 121, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .worldcup {
    position: absolute;
    bottom: 20px;
    width: 203px;
    height: 429px;
    right: 20%;
    background: url(../img/award_pc.png) center no-repeat;
  }
  /* line 129, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .textzone_01 {
    position: absolute;
    top: 989px;
    left: 13%;
  }
  /* line 133, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .textzone_01 .title_static {
    font-size: 27px;
    color: #ffd800;
    margin-bottom: 20px;
  }
  /* line 138, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center .textzone_01 .textcontent_01 {
    font-size: 16px;
    color: white;
    width: 60%;
    line-height: 29px;
    letter-spacing: 2px;
  }
  /* line 149, ../sass/screen - 複製.scss */
  .wrapper .zone02 {
    width: 100%;
    min-width: 1350px;
    height: 576px;
    background: url(../img/zonebg_02_pc.jpg) center no-repeat;
  }
  /* line 154, ../sass/screen - 複製.scss */
  .wrapper .zone02 .zone02_center {
    position: relative;
    width: 75%;
    min-width: 1350px;
    height: 576px;
    margin: 0 auto;
  }
  /* line 161, ../sass/screen - 複製.scss */
  .wrapper .zone02 .zone02_center ul.groupzone {
    width: 1056px;
    margin: 0 auto;
    top: 33px;
    position: relative;
    overflow: hidden;
    /*.w258h246{
        width: 258px;
        height: 246px;
        float: left;
        margin: 0 3px 16px;
    }
    .group_A{
        background: url(../img/group_a.png) center no-repeat;
        background-size: 258px 246px;
    }
    .group_B{
        background: url(../img/group_b.png) center no-repeat;
        background-size: 258px 246px;
    }
    .group_C{
        background: url(../img/group_c.png) center no-repeat;
        background-size: 258px 246px;
    }
    .group_D{
        background: url(../img/group_d.png) center no-repeat;
        background-size: 258px 246px;
    }
    .group_E{
        background: url(../img/group_e.png) center no-repeat;
        background-size: 258px 246px;
    }
    .group_F{
        background: url(../img/group_f.png) center no-repeat;
        background-size: 258px 246px;
    }
    .group_G{
        background: url(../img/group_g.png) center no-repeat;
        background-size: 258px 246px;
    }
    .group_H{
        background: url(../img/group_h.png) center no-repeat;
        background-size: 258px 246px;
    }*/
  }
  /* line 168, ../sass/screen - 複製.scss */
  .wrapper .zone02 .zone02_center ul.groupzone li {
    float: left;
    margin: 0 3px 16px;
    width: calc(25% - 6px);
  }
  /* line 172, ../sass/screen - 複製.scss */
  .wrapper .zone02 .zone02_center ul.groupzone li img {
    width: 100%;
  }
  /* line 218, ../sass/screen - 複製.scss */
  .wrapper .zone03 {
    width: 100%;
    min-width: 1350px;
    height: 540px;
    background: url(../img/zonebg_03_pc.jpg) center no-repeat;
  }
  /* line 223, ../sass/screen - 複製.scss */
  .wrapper .zone03 .zone03_center {
    position: relative;
    width: 75%;
    min-width: 1350px;
    height: 540px;
    margin: 0 auto;
  }
  /* line 230, ../sass/screen - 複製.scss */
  .wrapper .zone03 .zone03_center .zone03_leftzone {
    position: absolute;
    left: 4%;
    top: 17px;
    width: 722px;
    height: 523px;
    background: url(../img/sport_pc.png) center no-repeat;
  }
  /* line 238, ../sass/screen - 複製.scss */
  .wrapper .zone03 .zone03_center .zone03_rightzone {
    position: absolute;
    top: 124px;
    right: 13%;
    width: 30%;
  }
  /* line 243, ../sass/screen - 複製.scss */
  .wrapper .zone03 .zone03_center .zone03_rightzone .divider_03 {
    width: 14%;
    height: 1px;
    background-color: #656565;
    margin: 37px auto;
  }
  /* line 250, ../sass/screen - 複製.scss */
  .wrapper .zone03 .zone03_center .zone03_rightzone .zone03_textz .title_static {
    font-size: 27px;
    color: #ffd800;
    margin-bottom: 20px;
  }
  /* line 255, ../sass/screen - 複製.scss */
  .wrapper .zone03 .zone03_center .zone03_rightzone .zone03_textz .textcontent_03 {
    font-size: 16px;
    color: white;
    line-height: 29px;
    letter-spacing: 2px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 272, ../sass/screen - 複製.scss */
  .wrapper {
    width: 100%;
    font-family: Microsoft JhengHei;
    overflow: hidden;
    background-color: #161616;
  }
  /* line 277, ../sass/screen - 複製.scss */
  .wrapper .zone01 {
    width: 100%;
  }
  /* line 279, ../sass/screen - 複製.scss */
  .wrapper .zone01 .logo_h5 {
    width: 100%;
    height: 68px;
    background: url(../img/logo_h5.png) center no-repeat;
    background-size: 160px 45px;
  }
  /* line 285, ../sass/screen - 複製.scss */
  .wrapper .zone01 .zone01_center {
    background: url(../img/zonebg_01_h5.jpg) top center no-repeat;
    background-size: 100%;
  }

  /* line 292, ../sass/screen - 複製.scss */
  .textzone_01 .title_static {
    font-size: 27px;
    color: #ffd800;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  /* line 299, ../sass/screen - 複製.scss */
  .textzone_01 .textcontent_01 {
    font-size: 16px;
    color: white;
    width: 90%;
    margin: 0 auto;
    line-height: 29px;
    letter-spacing: 2px;
  }

  /* line 308, ../sass/screen - 複製.scss */
  .zone02 {
    width: 100%;
    overflow: hidden;
  }
  /* line 311, ../sass/screen - 複製.scss */
  .zone02 .zone02_center {
    width: 90%;
    margin: 40px auto 0;
  }
  /* line 314, ../sass/screen - 複製.scss */
  .zone02 .zone02_center .groupzone {
    width: 100%;
  }
  /* line 316, ../sass/screen - 複製.scss */
  .zone02 .zone02_center .groupzone li {
    width: calc(50% - 6px);
    float: left;
    margin: 5px 3px;
  }
  /* line 320, ../sass/screen - 複製.scss */
  .zone02 .zone02_center .groupzone li img {
    width: 100%;
  }

  /* line 327, ../sass/screen - 複製.scss */
  .zone03 {
    margin-top: 20px;
  }
  /* line 331, ../sass/screen - 複製.scss */
  .zone03 .zone03_center .zone03_leftzone img {
    width: 100%;
  }

  /* line 338, ../sass/screen - 複製.scss */
  .zone03_textz .title_static {
    font-size: 27px;
    color: #ffd800;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  /* line 345, ../sass/screen - 複製.scss */
  .zone03_textz .textcontent_03 {
    font-size: 16px;
    color: white;
    width: 90%;
    margin: 0 auto;
    line-height: 29px;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }

  /* line 356, ../sass/screen - 複製.scss */
  .divider_03 img {
    width: 100%;
  }
}
@-webkit-keyframes ani_1 {
  0% {
    opacity: 0;
    left: 20%;
  }
  20% {
    opacity: 1;
    left: 16%;
  }
}
@-moz-keyframes ani_1 {
  0% {
    opacity: 0;
    left: 20%;
  }
  20% {
    opacity: 1;
    left: 16%;
  }
}
@-o-keyframes ani_1 {
  0% {
    opacity: 0;
    left: 20%;
  }
  20% {
    opacity: 1;
    left: 16%;
  }
}
@keyframes ani_1 {
  0% {
    opacity: 0;
    left: 20%;
  }
  20% {
    opacity: 1;
    left: 16%;
  }
}
@-webkit-keyframes ani_soccor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes ani_soccor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes ani_soccor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ani_soccor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ani_2 {
  0% {
    opacity: 0;
    right: 27%;
  }
  6% {
    opacity: 0;
    right: 27%;
  }
  25% {
    opacity: 1;
    right: 25%;
  }
}
@-moz-keyframes ani_2 {
  0% {
    opacity: 0;
    right: 27%;
  }
  6% {
    opacity: 0;
    right: 27%;
  }
  25% {
    opacity: 1;
    right: 25%;
  }
}
@-o-keyframes ani_2 {
  0% {
    opacity: 0;
    right: 27%;
  }
  6% {
    opacity: 0;
    right: 27%;
  }
  25% {
    opacity: 1;
    right: 25%;
  }
}
@keyframes ani_2 {
  0% {
    opacity: 0;
    right: 27%;
  }
  6% {
    opacity: 0;
    right: 27%;
  }
  25% {
    opacity: 1;
    right: 25%;
  }
}
@-webkit-keyframes ani_3 {
  0% {
    opacity: 0;
    top: 50px;
  }
  10% {
    opacity: 0;
    top: 40px;
  }
  30% {
    opacity: 1;
    top: 20px;
  }
}
@-moz-keyframes ani_3 {
  0% {
    opacity: 0;
    top: 50px;
  }
  10% {
    opacity: 0;
    top: 40px;
  }
  30% {
    opacity: 1;
    top: 20px;
  }
}
@-o-keyframes ani_3 {
  0% {
    opacity: 0;
    top: 50px;
  }
  10% {
    opacity: 0;
    top: 40px;
  }
  30% {
    opacity: 1;
    top: 20px;
  }
}
@keyframes ani_3 {
  0% {
    opacity: 0;
    top: 50px;
  }
  10% {
    opacity: 0;
    top: 40px;
  }
  30% {
    opacity: 1;
    top: 20px;
  }
}
@keyframes ani_1_blur {
  0% {
    opacity: 0;
    left: 20%;
  }
  25% {
    opacity: 0;
    left: 20%;
  }
  28% {
    opacity: 0.6;
    left: 15%;
  }
  31% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 0;
    left: 20%;
  }
}
@keyframes ani_2_blur {
  0% {
    opacity: 0;
    right: 26%;
  }
  30% {
    opacity: 0;
    right: 26%;
  }
  33% {
    opacity: 0.6;
    right: 24%;
  }
  36% {
    opacity: 0;
    right: 26%;
  }
  100% {
    opacity: 0;
    right: 26%;
  }
}
@keyframes linerun {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}
