/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
//@import "reset.scss";
@import "mixin.scss";

//UI definition
//color
$bg_main: #f4f9ff;
$bg_sup: #edf4ff;
$color_main: #3e8ef0;
$color_sup: #0068d6;
$color_add: #54a7ff;
$colortxt_main: #323232;
$colortxt_sup: #666666;
$color_ignore: #9b9a9a;
$color_alert: #f09e3e;
$color_tip: #4a4a4a;
$color_red: #f68622;
$color_green: #26bd7b;

//main-border-radius
//@include css3(border-radius,$radius);
$radius: 5px;

//main-shadow
$shadow: 0px 0px 14px #ffffff;
@mixin shadow($shadow:$shadow){
    @include css3(box-shadow,$shadow);
}


//font
/*
*{
    font: normal 14px/20px "Microsoft Yahei";
}*/
@mixin bigtitle(){
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 5px;
}
@mixin midtitle(){
    font-size: 16px;
    line-height: 25px;
}
@mixin txt(){
    font-size: 14px;
}
@mixin txts(){
    font-size: 12px;
}

//btn style
@mixin btn_style_face($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    color: #fff;
    background: $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    padding: 0 5px;
    @include txt();
    @include css3(border-radius,$radius);
}
@mixin btn_style_line($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    border: 1px solid $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    @include css3(transition,all .2s ease);
    @include css3(border-radius,$radius);
    &:hover{
        background: $color;
        color: #fff;
        i{
            color: #fff;
        }
    }
}

//hover active style
@mixin hover_light(){
    position: relative;
    &:after{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        background: rgba(255, 255, 255,0);
        @include css3(transition,all .2s ease);
    }
    &:hover{
        //background: #59a4ff!important;
        &:after{
            background: rgba(255, 255, 255,.25);
        }
    }
}


//table style
@mixin table_style(){
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
        width: 100%;
        tr{
            &:first-child{
                @include midtitle();
                background: $color_main!important;
                color: #fff;
            }
            &:nth-child(odd) {
                background-color: rgba(190, 190, 190, 0.2);
            }
            span{
                @include txts();
                font-size: 23px;
            }
            td{
                text-align: center;
                padding: 5px;
            }
        }
    }
}

/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}
@include ellipsistext();
@include linear-gradient($top, $bottom);

.btn_face{
    @include btn_style_face($color_main ,65px ,30px,$radius);
    @include hover_light();
}
.btn_line{
    @include btn_style_line($color_main ,65px ,30px,$radius);
}
.tablebox{
    @include table_style();
}


@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}

*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/

//select style
select{
    @include shadow();
    border: 0px;
    line-height: 30px;
    height: 30px;
    padding: 0 7px;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    //background: #fff url("../images/select_arrow.png") no-repeat scroll right 5px center;
    padding-right: 20px;
    cursor: pointer;
    min-width: 80px;
}
//input style
input{
    border: 1px solid $color_main;
    background: rgba(0, 0, 0, 0);
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    @include css3(transition,all .2s ease);
    width: 145px;
}

.wrapper{
    width:100%;
    height:auto;
    margin:0 auto;
}
.wrapper_in{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#topbanner{
    background: url(../images/top_bg.jpg) no-repeat top center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    display: -webkit-flex;  /* 新版本语法: Chrome 21+ */
    display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
    align-items: center;
    -webkit-align-items: center;
    min-height: 100vh;
    .slogan{
        margin-bottom: 50px;
        @include range-width-in(0,767px){
            margin-bottom: 0;
        }
    }
    .cardbox{
        display: -webkit-flex;  /* 新版本语法: Chrome 21+ */
        display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 30px;
        font-weight: bold;
        //flex-wrap: wrap;
        @include range-width-in(0,767px){
            display: block;
            .card{
                margin: 5%!important;
            }
            img{
                width: 60%;
            }
        }
        .card{
            flex: 1;
            margin: 0 1%;
            padding: 2% 1%;
            @include css3(border-radius,4px);
            @include css3(transition,all .3s ease);
            background: rgba(255, 255, 255, 0.1);
            display: block;
            color:#fff;
            text-decoration: none;
            .cardbtn{
                @include css3(border-radius,20px);
                @include css3(transition,all .3s ease);
                border: 1px solid #fff;
                max-width: 170px;
                margin: 0 auto;
            }
            img{
                @include css3(transition,all .3s ease);
            }
            &:hover{
                background: rgba(255, 255, 255, 0.2);
                @include css3(transform,scale(1.03));
                .cardbtn{
                    background:#fff;
                    color: #3dabe5;
                }
                img{
                    //@include css3(transform,scale(.97));
                }
            }

        }
        .active{
                background: rgba(255, 255, 255, 0.2);
                @include css3(transform,scale(1.03));
                .cardbtn{
                    background:#fff;
                    color: #3dabe5;
                }
                img{
                    //@include css3(transform,scale(.97));
                }
            }
    }
}
.totop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: #323232;
    color: #fff;
    cursor: pointer;
    z-index: 99;
    //@include css3(transition,all .3s ease);
    @include css3(border-radius,50%);
    &:hover{
        background: #494949;
    }
    /*
    &:after{
        display: inline-block;
        content: " ";
        height: 18px;
        width: 18px;
        border-width: 0 2px 2px 0;
        border-color: #999999;
        border-style: solid;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        transform-origin: center;
        transition: transform .3s;
        position: absolute;
        top: 60%;
        right: 10px;
        margin-top: -10px;
        @include css3(transform,rotate(-135deg));
    }*/
}