@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*zindex*/
/*linear-gradient*/
/*specify*/
/*keyframes*/
/*Responsive*/
/*radius*/
/*boxshadow*/
/*POS*/
/*clearfix*/
/*changebg*/
/*gridbox*/
/* line 37, ../sass/screen.scss */
body {
  font: normal 14px/20px "Microsoft Yahei";
}

/* line 149, ../sass/screen.scss */
.rowbox {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}

/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}
@include ellipsistext();
@include linear-gradient($top, $bottom);

.btn_face{
    @include btn_style_face($color_main ,65px ,30px,$radius);
    @include hover_light();
}
.btn_line{
    @include btn_style_line($color_main ,65px ,30px,$radius);
}
.tablebox{
    @include table_style();
}


@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}

*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/
@media screen and (min-width: 0) and (max-width: 750px) {
  /* line 197, ../sass/screen.scss */
  body {
    background-size: 40%;
  }
}

/* line 202, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 206, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 210, ../sass/screen.scss */
select {
  -webkit-box-shadow: 0px 0px 14px #ffffff;
  -moz-box-shadow: 0px 0px 14px #ffffff;
  -ms-box-shadow: 0px 0px 14px #ffffff;
  -o-box-shadow: 0px 0px 14px #ffffff;
  box-shadow: 0px 0px 14px #ffffff;
  border: 0px;
  line-height: 30px;
  height: 30px;
  padding: 0 7px;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 20px;
  cursor: pointer;
  min-width: 80px;
}

/* line 226, ../sass/screen.scss */
input {
  border: 1px solid #3e8ef0;
  background: transparent;
  line-height: 28px;
  height: 28px;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 145px;
}

/* line 236, ../sass/screen.scss */
.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
}

/* line 243, ../sass/screen.scss */
.wrapper_in {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 0) and (max-width: 750px) {
  /* line 243, ../sass/screen.scss */
  .wrapper_in {
    width: calc(100% - 10%);
    overflow: hidden;
  }
}

/* line 255, ../sass/screen.scss */
.gridbox li {
  height: 100px;
  float: left;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 16%;
  background: #000;
}
/* line 163, ../sass/mixin.scss */
.gridbox li:nth-child(5n) {
  margin-right: 0;
}
/* line 259, ../sass/screen.scss */
.gridbox li img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* line 263, ../sass/screen.scss */
  .mb_show {
    display: none !important;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 268, ../sass/screen.scss */
  .pc_show {
    display: none !important;
  }
}

/* line 273, ../sass/screen.scss */
.imgbg {
  width: 100%;
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 285, ../sass/screen.scss */
.topbanner {
  background: url(../images/topbanner.jpg) bottom center no-repeat;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 0) and (max-width: 750px) {
  /* line 285, ../sass/screen.scss */
  .topbanner {
    min-height: 500px;
  }
}
/* line 294, ../sass/screen.scss */
.topbanner .slogan {
  text-align: center;
  z-index: 1;
  position: relative;
  -webkit-animation: pop 1.5s ease;
  -moz-animation: pop 1.5s ease;
  -ms-animation: pop 1.5s ease;
  -o-animation: pop 1.5s ease;
  animation: pop 1.5s ease;
}
/* line 299, ../sass/screen.scss */
.topbanner .slogan img {
  max-width: 100%;
}
/* line 303, ../sass/screen.scss */
.topbanner .title_effect {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
}
/* line 309, ../sass/screen.scss */
.topbanner .title_effect img {
  width: 100%;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (min-width: 0) and (max-width: 750px) {
  /* line 303, ../sass/screen.scss */
  .topbanner .title_effect {
    background: none;
  }
}
/* line 319, ../sass/screen.scss */
.topbanner .flyball {
  -webkit-animation: pop 1s cubic-bezier(0.49, 0.15, 0.01, 1);
  -moz-animation: pop 1s cubic-bezier(0.49, 0.15, 0.01, 1);
  -ms-animation: pop 1s cubic-bezier(0.49, 0.15, 0.01, 1);
  -o-animation: pop 1s cubic-bezier(0.49, 0.15, 0.01, 1);
  animation: pop 1s cubic-bezier(0.49, 0.15, 0.01, 1);
}
/* line 322, ../sass/screen.scss */
.topbanner .flycoin {
  -webkit-animation: pop 2s cubic-bezier(0.49, 0.15, 0.01, 1);
  -moz-animation: pop 2s cubic-bezier(0.49, 0.15, 0.01, 1);
  -ms-animation: pop 2s cubic-bezier(0.49, 0.15, 0.01, 1);
  -o-animation: pop 2s cubic-bezier(0.49, 0.15, 0.01, 1);
  animation: pop 2s cubic-bezier(0.49, 0.15, 0.01, 1);
}

/* line 326, ../sass/screen.scss */
.sectitle {
  text-align: center;
}
@media screen and (min-width: 0) and (max-width: 750px) {
  /* line 326, ../sass/screen.scss */
  .sectitle {
    margin-bottom: -10%;
  }
}
/* line 331, ../sass/screen.scss */
.sectitle img {
  width: 100%;
  max-width: 350px;
}

/* line 336, ../sass/screen.scss */
img {
  vertical-align: middle;
}

/* line 339, ../sass/screen.scss */
.secbackground {
  background: url(../images/bg.jpg) top center no-repeat;
  background-size: 1920px 100%;
  margin-bottom: -5%;
}

/* line 344, ../sass/screen.scss */
.sec_intro {
  min-height: 100vh;
  position: relative;
}
/* line 347, ../sass/screen.scss */
.sec_intro .content {
  padding-top: 10%;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  /* line 347, ../sass/screen.scss */
  .sec_intro .content {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column-reverse;
  }
}
/* line 354, ../sass/screen.scss */
.sec_intro .content .textbox {
  line-height: 30px;
}
/* line 356, ../sass/screen.scss */
.sec_intro .content .textbox li {
  margin-bottom: 50px;
}
/* line 360, ../sass/screen.scss */
.sec_intro .content .tubebox {
  width: 85%;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  /* line 360, ../sass/screen.scss */
  .sec_intro .content .tubebox {
    width: 100%;
  }
}
/* line 368, ../sass/screen.scss */
.sec_intro .content .tubebox img {
  width: 100%;
}
/* line 373, ../sass/screen.scss */
.sec_intro .content .tubebox:hover .playbtn:after {
  -webkit-animation: wave 0.5s infinite ease;
  -moz-animation: wave 0.5s infinite ease;
  -ms-animation: wave 0.5s infinite ease;
  -o-animation: wave 0.5s infinite ease;
  animation: wave 0.5s infinite ease;
}
/* line 378, ../sass/screen.scss */
.sec_intro .content .tubebox .playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  max-width: 120px;
  width: 20%;
}
/* line 387, ../sass/screen.scss */
.sec_intro .content .tubebox .playbtn img {
  position: relative;
  z-index: 1;
  width: 100%;
}
/* line 392, ../sass/screen.scss */
.sec_intro .content .tubebox .playbtn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  -webkit-animation: wave 1s infinite ease;
  -moz-animation: wave 1s infinite ease;
  -ms-animation: wave 1s infinite ease;
  -o-animation: wave 1s infinite ease;
  animation: wave 1s infinite ease;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-moz-keyframes wave {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-o-keyframes wave {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/* line 426, ../sass/screen.scss */
.sec_intro .pageball {
  position: absolute;
}
@media screen and (min-width: 0) and (max-width: 750px) {
  /* line 426, ../sass/screen.scss */
  .sec_intro .pageball {
    display: none;
  }
}
/* line 432, ../sass/screen.scss */
.sec_intro .rightball {
  right: 0;
  top: 10%;
}
/* line 436, ../sass/screen.scss */
.sec_intro .leftball {
  left: 0;
  bottom: 10%;
}

/* line 442, ../sass/screen.scss */
.sec_qa {
  position: relative;
}
/* line 444, ../sass/screen.scss */
.sec_qa .qalist {
  margin-top: 5%;
}
/* line 446, ../sass/screen.scss */
.sec_qa .qalist ul {
  margin-bottom: 30px;
  cursor: pointer;
}
/* line 450, ../sass/screen.scss */
.sec_qa .qalist .qline {
  background: #ffebaa;
  background: -webkit-linear-gradient(legacy-direction(90deg), #ffebaa, rgba(255, 235, 170, 0.1));
  background: linear-gradient(90deg, #ffebaa, rgba(255, 235, 170, 0.1));
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  padding: 10px 30px;
  line-height: 30px;
  color: #e5110a;
  font-weight: 500;
}
/* line 459, ../sass/screen.scss */
.sec_qa .qalist .aline {
  padding: 30px;
  padding-bottom: 0;
  line-height: 35px;
  font-weight: 100;
}

/* line 468, ../sass/screen.scss */
.bottombg {
  background: url(../images/bottom_bg.jpg) bottom center no-repeat;
  width: 100%;
  min-height: 735px;
  padding-top: 150px;
  margin-top: -2px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 468, ../sass/screen.scss */
  .bottombg {
    min-height: auto;
    padding-top: 0;
  }
}
/* line 479, ../sass/screen.scss */
.bottombg .bottombg_mb img {
  width: 100%;
}
/* line 481, ../sass/screen.scss */
.bottombg .downloadbtn {
  text-align: center;
  cursor: pointer;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 481, ../sass/screen.scss */
  .bottombg .downloadbtn {
    margin-top: 20px;
  }
}
/* line 491, ../sass/screen.scss */
.bottombg .downloadbtn:after {
  content: "";
  position: absolute;
  background: url(../images/btn_hover.png);
  background-size: contain;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 504, ../sass/screen.scss */
.bottombg .downloadbtn:hover:after {
  opacity: 1;
}
/* line 508, ../sass/screen.scss */
.bottombg .downloadbtn img {
  width: 100%;
  max-width: 340px;
}

/* line 514, ../sass/screen.scss */
.modal-content {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

/* line 519, ../sass/screen.scss */
.modal-header .close {
  color: #fff !important;
  opacity: .5;
  transition: all 0.3s;
}
/* line 523, ../sass/screen.scss */
.modal-header .close:hover {
  opacity: 1;
}

/* line 530, ../sass/screen.scss */
.modal-dialog {
  width: auto;
  max-width: 1280px;
}

/* line 534, ../sass/screen.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 542, ../sass/screen.scss */
iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 549, ../sass/screen.scss */
.modal-header {
  border-bottom: 0;
}

/* line 552, ../sass/screen.scss */
.modal-content {
  background-color: rgba(255, 255, 255, 0.8);
}
